.form-control {
    border-radius: 15px;
}

.orange-bg {
    background: #feeae9;
    border-radius: 10px;
}

.container {
    margin-bottom: 100px;
}

.carousel-item {
    padding: 30px 30px;

}

.price {
    color: #ff136f;
}

.buy-now-btn {
    padding: 10px 25px;
    background-image: linear-gradient(to bottom, #ff589b, #ff136f);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.catagories h1 {
    color: #eeeded;
}

.catagories img {
    width: 100px;
}

.cat-1,
.cat-2,
.cat-3 {
    padding: 10px 30px;
}

.cat-1 {
    background: linear-gradient(to right, #e6ab07, #ff9900);
    border-radius: 10px;
}

.cat-2 {
    background: linear-gradient(to right, #ec50b0, #d11f81);
    border-radius: 10px;
}

.cat-3 {
    background: linear-gradient(to right, #674ce2, #4515c7);
    border-radius: 10px;
}

.card {
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    border: none;
}

.card-footer {
    background: #fff;
    border: none;
}

#contacts {
    height: 300px;
}

.footer {
    text-align: center;
    height: 10px;
}

hr {
    height: 1px;
    color: #bebbc5;
}